@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-primary: #16161a;
  --bg-secondary: #242629;
  --bg-card: #16161a;
  --headline-text: #fffffe;
  --paragraph-text: #94a1b2;
  --bg-button: #7f5af0;
  --bg-button-secondary: #5333b5;
  --button-text: #fffffe;

  --tertiary: #2cb67d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--paragraph-text);
  background: #202020;
  font-family: 'Inter', sans-serif;
}